body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: #333;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.scj {

    display: flex;
    align-items: center;
}




.animated-text {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    animation: slideIn 2s;
}


header {
    background-color: #333;
    padding: 1em;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

nav {
    background-color: #4CAF50;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


h1 {
    margin: 0;
    padding-left: 7px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #f94343;
    color: black;
}


.main {
    margin: 20px;
    display: flex;
    
    column-gap: 50px;
    flex-wrap: wrap;
}
.box{
    background-color: beige;
    stroke: #333;
    border-radius: 10px;
    margin-bottom: 40px;
}

.box a .Text-a {
    display: flex;
    justify-content: center;
    font-weight: 800;
   
}
.box a img {
    width: 250px;
    height: 150px;
    
}






















section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}